In [1]:
import pandas as pd

In [27]:
path = "./"
file = "train_2500.csv"
df = pd.read_csv(path+file)
df.head()

,label,content,synonym_aug
0,1,where are ya'll and what time is it? anyone in...,where are ya ' ll and what time is information...
1,1,killing of innocents permitted in the bible? e...,killing of innocents permitted in the bible? e...
2,1,i am 60 pounds overweight with hair covering a...,i am 60 pounds overweight with fuzz covering a...
3,1,does christian rock have a place in christiani...,does christian rock have a place in christian ...
4,1,why do people that worship satan say they will...,why do people that revere satan say they will ...

In [21]:
df['synonym_aug'][49595]

' NA'

In [28]:
count = 0
total = 0
for idx, row in df.iterrows():
    tokens = row['content'].split(" ")
    if len(tokens) > 1024:
        # df['content'][idx] = " ".join(tokens[:1024])
        count += 1
    total +=1
print(count, total)
# df.to_csv(file, index=None)

0 25000

In [29]:
count = 0
total = 0
for idx, row in df.iterrows():
    if len(tokens) > 1024:
        count += 1
    total +=1
print(count, total)

0 25000